{{define "backtester eventhandlers strategies technicalanalysis" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

This is an example of the complexity you can develop when it comes to strategic execution of Technical Analysis.
The goal of this strategy is to parse custom data via your strategy config to run technical analysis on market data to execute trades
This strategy supports the following indicators
- RSI
- MACD
- Boillinger Bands
- OBV

# Strategy config settings
In order for this strategy to execute, there must be custom JSON within your `.strat` strategy config file. For an example of a pre-filled strategy, please see `./strategyconfig/rsi-api-candles.strat`
Custom settings JSON is defined as the following:

```json
 "custom-settings": {
   "max-missing-periods": 10,
   "indicators": [
    {
     "name": "RSI",
     "period": 14,
     "low": 30,
     "high": 70
    },
   ]
  }
```

A breakdown of each available option will be detailed in tables below.

## CustomValues
| Field              | Description                                                                                                                                                                                                                                                    |  Example |
|--------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------|
| max-missing-periods| This defines the tolerance for missing data in this strategy. When data is missing, the previous close price is carried across the missing close price. If the data is missing across sequential periods surpasses this number, the strategy will not execute  | `10`     |
| indicators         | This is a slice of indicators and their bounds. See below table for all definitions                                                                                                                                                                            |          |

### Indicators
| Field           | Description                                                                                                                                                                                                                                                    |  Example |
|-----------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------|
| name            | The indicator name. Acceptable values are "RSI" "OBV" "BBANDS" "MACD"
| period          | The indicator period used. E.g. for RSI, this value is typically 14
| fast-period     | The fast-period for MACD
| slow-period     | The slow-period for MACD
| low             | The low value for RSI
| high            | The high value for RSI
| down            | The down value for Boillinger bands
| up              | The up value for Boillinger bands
| group           | The group the indicator belongs to. This is an important consideration for when you have many indicators, and they all must pass in order to make a decision on buying or selling
| pass-required   | If true, all indicators within a group must pass in order to make a purchase decision, if the RSI is > 70, but MACD has not flipped, then no action will be taken
| use-defaults    | If true, will populate the default values for the given indicator. For example, RSI would auto-populate to Low: 30, High: 70, Period: 14

## Individual Indicator fields
In order to properly define your indicators in the custom fields section, please refer to the following tables

### RSI
| Field           | Description                                                                                                                                                                                                                                                    |  Example |
|-----------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------|
| name            | The indicator name. Acceptable values are "RSI" "OBV" "BBANDS" "MACD"
| period          | The indicator period used. E.g. for RSI, this value is typically 14
| low             | The low value for RSI
| high            | The high value for RSI
| use-defaults    | If true, will populate the default values for the given indicator. For example, RSI would auto-populate to Low: 30, High: 70, Period: 14



The technical indicator strategy utilises [the gct-ta RSI package](https://github.com/thrasher-corp/gct-ta) to analyse market signals and output buy or sell signals based on the RSI output.
This strategy does support `SimultaneousSignalProcessing` aka [use-simultaneous-signal-processing](/backtester/config/README.md).



### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}